<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Trending : News Application</title>
     <link rel="stylesheet" href="output.css" th:href="@{/css/output.css}">
     <link rel="stylesheet" href="style.css" th:href="@{/css/style.css}">
</head>

<body class="bg-gray-700">
          <!-- This is navbar used from fragment of Navbar.html file  -->
          <nav th:replace="~{Fragments/Navbar :: navbar }">
          </nav>
          <!-- This is main div where all the news cards will be displayed -->
          <main th:replace="~{Fragments/NewsCards :: newsCard}"></main>
</body>

</html>